.background
{
    background-image: url(https://i.imgur.com/rgjwuog.png) ;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100vw; */
    height:100vh;
}

.card
{
    background-color: #b7d7cad6;
    width: 400px !important;
    height: 400px !important;
}

.form-title
{
    color: #0E3F2B!important;
    font-weight:bold!important;
}

#standard-basic
{
    width: 270px;
    
}

.botao
{
    background-color: #0E3F2B!important;
    color: white!important;
    width: 90px;
    height: 40px;
    border:none;
    -webkit-box-shadow: 0px 0px 4px -1px #000000; 
    box-shadow: 0px 0px 4px -1px #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition-duration: 500ms!important;
    outline: none;
    margin: 5px!important;
}

.botao:hover
{
    width: 90px;
    height: 40px;
    color: #e9ecef;
    background-color: #0E3F2B70!important;
    border:none;
    transition-duration: 500ms!important;
    outline: none;
    margin: 5px!important;   
}

.text-decoration
{
    text-decoration: none!important;
}

.cadastrar
{
    color: #0E3F2B!important;
}
.cadastrar-conta
{
    color: #111213!important;
    font-weight: bold!important;
    
}

