#sobre {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 98%;
  padding: 20px 10px;
}

#sobre section {
  display: flex;
  flex-direction: row;
}

#sobre section img {
  width: 400px;
  height: auto;
  margin: 0px 5px;
  border-radius: 5px;
}

#sobre section div {
  font-size: 20px;
  margin: 2px 5px;
}

#sobre section div h2 {
  font-weight: bold;
  color: #5b8866;
}

a {
  text-decoration: none;
  font-weight: bold;
  font: icon;
}

.back{
  /* background:rgb(197, 253, 160); */
  width: 100% !important;
  height: 100% !important;
}

.alinhar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.box2 {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 10px;
}

.titulo
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5b8866;
}

.icones {
  color: rgb(46, 46, 46) !important;
  font-size: 25px !important;
}

.foto{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.nomes{
  font-size: 20px !important;
  color: rgb(46, 46, 46) !important;
}