.cardBody {
  margin: 9px;
  width: 223px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 0.51s;
  border-radius: 10px;
}
.cardBody:hover {
  margin-bottom: 9px;
  width: 223px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 0.51s;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    2px 2px 30px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 2px 2px 30px 5px rgba(0, 0, 0, 0);
}
.cardImg {
  margin: 7px;
  width: 200px;
  height: 190px;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}
.descricaoCard {
  width: 200px;
  height: 130px;
  margin: 7px;
}
.alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttonComprar {
  margin-top: 25px;
  width: 200px;
  height: 40px;
  margin-left: 9px;
  background-color: #8fbd4f;
  color: white;
  font-weight: bold;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
  position: static;
}
.buttonComprar:hover {
  margin-top: 25px;
  width: 200px;
  height: 40px;
  margin-left: 9px;
  background-color: #719242;
  color: white;
  font-weight: bold;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
  position: static;
}
.buttonComprar div {
  margin-left: 10px;
}

.buttonAddKart {
  width: 50px;
  height: 100%;
  background-color: #719242;
  border: none;
  color: white;
  display: flex;

  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
}
.imgProd {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 180px;
}
.prodName {
  color: black;
}
.prodValue {
  color: #8fbd4f;
  font-weight: bold;
}
