.box{
    background-Color: #0E3F2B !important;
}

.box1{
    height: "120px";
}

.box2{
    color: #ffffff;
}

.box4{
    font-size: 45px !important;
    color:#ffffff;
}

.tamanho-f{
    margin: 0% !important;
}